#threads {
    text-align: left;
    height: 100%;
    overflow-y: scroll;
    padding: 8px;
    box-sizing: border-box;
}

.show-thread #threads {
    display: none;
}

#threads>div {
    border-bottom: 1px dashed currentColor;
    padding: 8px;
    overflow: hidden;
}

#threads h4 {
    margin: 0;
    text-transform: none;
    letter-spacing: normal;
    white-space: nowrap;
}

#threads p {
    margin: 0;
    line-height: 1.15em;
    height: 2.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1;
}

#thread {
    text-align: left;
    display: none;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
    height: 100%;
}

.show-thread #thread {
    display: flex;
}

#thread .thread-response textarea {
    width: 100%;
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
    font-family: var(--font);
}

#thread .thread-response {

}


#thread .thread-info {

}

#thread .thread-messages {
    overflow: auto;
    flex: 1;
}

#thread p.message {
    line-height: 1.15em;
    border-radius: 32px 32px 32px 0;
    background-color: #eee;
    padding: 24px;
}

#thread p.me {
    border-radius: 32px 32px 0 32px;
    background-color: #0B5FFD;
    color: white;
}

#messages {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

#messages h1 {
    margin: 16px;
    font-size: 2em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

#messages .messages-header {
}

#messages .messages-body {
    flex: 1;
    overflow: auto;

}

body, main, html , main div.section-wrapper {
    margin: 0;
    padding: 0;
}

