<div id="reservation-confirmation" class="section-wrapper collapsed inverted">
    <div>
        <h3>Confirmed</h3>
        <p>
        We got your reservation on ... at ... for a party of ... for ... 
        If you have any changes to your reservation, just text or call us on this number.
        </p>    
    </div>
</div>
<form id="reservation-form">
    <select id="party"></select>
    <select id="date"></select>
    <select id="time"></select>
    <select id="seating">
        <option value="No Preference">No Seating Preference</option>
        <option value="Indoors">Indoors</option>
        <option value="Patio">Patio</option>
    </select>
    <input id="name" type="text" placeholder="Your Name" required>
    <input id="cell" type="tel" placeholder="Cell Phone" required>
    <textarea id="message" placeholder="Special occasion or anything else we should know?" rows="3"></textarea>
    <button id="reserve" type="button">reserve a table</button>
</form>
    
<script src="/components/reservation.js" type="module"></script>
    
    